{{- $location := .location | default "bottom" -}}
{{- $changeTheme := (T "changeTheme") | default "Change theme" -}}
{{- $light := (T "light") | default "Light" -}}
{{- $dark := (T "dark") | default "Dark" -}}
{{- $toLight := printf "%s: %s" $changeTheme $light -}}
{{- $toDark := printf "%s: %s" $changeTheme $dark -}}

<div class="eh-theme-control">
  <button
    title="{{ $toDark }}"
    data-location="{{ $location }}"
    data-label-light="{{ $toLight }}"
    data-label-dark="{{ $toDark }}"
    data-eh-theme-toggle
    class="eh-theme-toggle"
    type="button"
    aria-label="{{ $toDark }}"
    aria-pressed="false"
  >
    <span class="eh-theme-toggle__icons" aria-hidden="true">
      <svg class="eh-theme-toggle__icon eh-theme-toggle__sun" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="3.5" />
        <path d="M12 2v2M12 20v2M4.93 4.93l1.42 1.42M17.65 17.65l1.42 1.42M2 12h2M20 12h2M4.93 19.07l1.42-1.42M17.65 6.35l1.42-1.42" />
      </svg>
      <svg class="eh-theme-toggle__icon eh-theme-toggle__moon" viewBox="0 0 24 24">
        <path d="M20.2 15.3A8.5 8.5 0 0 1 8.7 3.8 8.5 8.5 0 1 0 20.2 15.3Z" />
      </svg>
    </span>
  </button>
</div>
