<div class="hextra-custom-footer hx:flex hx:items-center hx:gap-3">
  <a href="https://t.me/ergohavenxyz" aria-label="Telegram">
    {{ partial "utils/icon.html" (dict "name" "telegram" "attributes" "style=\"width:20px;height:20px\"") }}
  </a>

  <a href="https://github.com/ergohaven" aria-label="GitHub">
    {{ partial "utils/icon.html" (dict "name" "github" "attributes" "style=\"width:20px;height:20px\"") }}
  </a>

  <a href="https://www.youtube.com/@ergohaven" aria-label="YouTube">
    {{ partial "utils/icon.html" (dict "name" "youtube" "attributes" "style=\"width:20px;height:20px\"") }}
  </a>
</div>
