{{- range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.LanguageCode | default .Language.Lang }}" href="{{ .Permalink }}" />
{{- end }}
{{- range where .AllTranslations "Language.Lang" "en" }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{- end }}
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#f6f4f2" media="(prefers-color-scheme: light)" />
<meta name="theme-color" content="#121113" media="(prefers-color-scheme: dark)" />
{{- with resources.Get "js/header.js" | minify | fingerprint }}
  <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{- end }}
{{- if .Params.layout_lightbox }}
  {{- with resources.Get "js/layout-lightbox.js" | minify | fingerprint }}
    <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{- end }}
{{- end }}
{{- if .Params.video_lightbox }}
  {{- with resources.Get "js/video-lightbox.js" | minify | fingerprint }}
    <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{- end }}
{{- end }}
{{- if .Params.hosted_video }}
  {{- with resources.Get "js/hosted-video.js" | minify | fingerprint }}
    <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{- end }}
{{- end }}
